<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <listener>
        <listener-class>com.meiste.greg.ptwgame.ApiKeyInitializer</listener-class>
    </listener>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.QuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Answers</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.AnswersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suggest</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.SuggestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Standings</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.StandingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scoring</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.ScoringServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ranking</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.RankingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushServlet</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.PushServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friend</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.FriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceCleanup</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.DeviceCleanupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logo</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.LogoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>com.meiste.greg.ptwgame.servlets.ResetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Answers</servlet-name>
        <url-pattern>/answers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggest</servlet-name>
        <url-pattern>/suggest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Standings</servlet-name>
        <url-pattern>/standings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scoring</servlet-name>
        <url-pattern>/tasks/scoring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ranking</servlet-name>
        <url-pattern>/tasks/ranking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushServlet</servlet-name>
        <url-pattern>/push</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/tasks/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Friend</servlet-name>
        <url-pattern>/friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceCleanup</servlet-name>
        <url-pattern>/tasks/devcleanup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logo</servlet-name>
        <url-pattern>/img/race/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/tasks/reset</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/push</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/schedule.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
