<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2012-2013 Gregory S. Meiste <http://gregmeiste.com>

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meiste.greg.ptw"
    android:versionCode="9"
    android:versionName="3.0.1-dev" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission
        android:name="com.meiste.greg.ptw.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.meiste.greg.ptw.permission.C2D_MESSAGE" />

    <permission
        android:name="com.meiste.greg.ptw.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.meiste.greg.ptw.permission.MAPS_RECEIVE" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:name=".PTW"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAE_JAGDH6A-J_UKNp54uGRqCmc-zjfh8Q" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".EditPreferences"
            android:theme="@style/Theme.Sherlock" />
        <activity
            android:label="@string/race_details"
            android:name=".RaceActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" />
        <activity
            android:label="@string/app_name"
            android:name=".AccountsActivity"
            android:theme="@style/Theme.Sherlock"
            android:configChanges="orientation" />
        <activity
            android:label="@string/app_name"
            android:name=".NfcSendActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" />
        <activity
            android:label="@string/app_name"
            android:name=".NfcRecvActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.meiste.greg.ptw" />
            </intent-filter>
        </activity>
        <receiver android:name=".RaceAlarm" />
        <receiver android:name=".QuestionAlarm" />
        <receiver android:name=".BootSetup">  
            <intent-filter>  
                <action android:name="android.intent.action.BOOT_COMPLETED" />  
            </intent-filter>  
        </receiver>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.meiste.greg.ptw" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
        <receiver android:name=".WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="com.meiste.greg.ptw.action.SCHEDULE" />
                <action android:name="com.meiste.greg.ptw.action.ANSWERS" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>